body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  padding: 0 10px;
  color: #18181b;
  font-family: "Times New Roman", Times, serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: grayscale;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

a {
  color: #345d96;
  text-decoration: none;
}
a:hover {
  opacity: 0.8;
}
